/* CSS declarations go here */
html, body {
  background: url("http://www.icanbecreative.com/res/freeweb/2011/04/bookmark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form.edit-form {
  display: inline;
}

.columns {
  empty-cells: show;
  padding-top: 10px;
}

li.quadrants {
  background: rgba(255, 255, 255, 0.8);
  border: solid 0.2em lightgray;
  border-radius: 0.5em;
  height: 310px;
  overflow:hidden;
  overflow-y:scroll;
  padding: 15px;
}

ul {
  list-style-type: none;
}

/*edit-form input[type="text"] {
  background: transparent;
  cursor: pointer;
}

input[type="text"] {
  font-size: 14px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: .75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333333;
  outline: none;
}

.list-items .list-item input[type="text"] {
  -webkit-box-flex: 1;
  flex: 1;
  background: transparent;
  cursor: pointer;
}*/

