/* CSS declarations go here */
html, body {
  background: url("http://media02.hongkiat.com/minimalist-wallpapers/Calmness_by_Akmal_Ibn_Marmoh.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.goal-home {
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

h3.quad-title{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  text-align: center;
}

.login-display-name {
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
}

form.edit-form {
  display: inline;
}

p.incomplete-count{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 1em;
}

label.hide-completed{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 1em;
}
.columns {
  empty-cells: show;
  padding-top: 10px;
}

li.quadrants {
  background: rgba(255, 255, 255, 0.6);
  border: solid 0.2em lightgray;
  border-radius: 0.25em;
  height: 310px;
  overflow:hidden;
  overflow-y:scroll;
  padding: 15px;
}

ul {
  list-style-type: none;
}

/*edit-form input[type="text"] {
  background: transparent;
  cursor: pointer;
}

input[type="text"] {
  font-size: 14px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: .75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333333;
  outline: none;
}

.list-items .list-item input[type="text"] {
  -webkit-box-flex: 1;
  flex: 1;
  background: transparent;
  cursor: pointer;
}*/

